[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "==8.0.31"
django = "==4.1.3"
djangorestframework = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
assertpy = "*"
hypothesis = "*"
autopep8 = "*"
behave = "*"
mockito = "*"
selenium = "==4.6.0"

[requires]
python_version = "3.10"
